<!DOCTYPE html>
{%extends 'myApp/parent.html'%}
<html lang="'en'" dir="ltr">
  <body>
    {%block for_child%}
    <h1 style="color:blue">Updation form</h1>
    <form  method="post">
      Number:<input type="text" name="sno" value="{{stud.sno}}"><br><br>
      Name:<input type="text" name="sname" value="{{stud.sname}}"><br><br>
      Marks:<input type="text" name="smarks" value="{{stud.smarks}}"><br><br>
      Address:<input type="text" name="saddr" value="{{stud.saddr}}"><br><br>
      {%csrf_token%}
      <input type="submit" class="btn btn-warning" value="submit">
    </form>
    {%endblock%}
  </body>
</html>
