
<!DOCTYPE html>
{%extends 'myApp/parent.html'%}
<html lang="en" dir="ltr">
  <body>
     {%block for_child%}
      <div class="jumbotron">
        <div class="container">
          <h2>Instructions</h2>
          <ul>
            <li>1.Only one attempt you have</li>
            <li>2.No mall practice is allowed</li>
            <li>3.No negative marking</li>
            <li>4.Only 90 mins time will be given</li>
            <li>5.Put your signature at the end</li>
          </ul>
        </div>
      </div>
     {%endblock%}
  </body>
</html>
